{#
 # Work index template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = "Work" %}

{% block content %}

<div class="workFlex">
	
	<div class="topBar">
		<ul class="list-inline">
			<a href="#web"><li>Web Design</li></a>
			<a href="#print"><li>Print Design</li></a>
			<a href="#dev"><li>Front-End Development</li></a>
		</ul>
	</div>

	<section id="theWork">
		<div id="web" class="workType">
			<h2>Web Design</h2>
			{% for entry in craft.entries.section('work').find() %}
				<article>
					<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
					{{ entry.body.getPage(1) }}
					<p><a href="{{ entry.url }}">Continue reading</a></p>
				</article>
			{% endfor %}
		</div>
		<div id="print" class="workType">
			<h2>Print Design</h2>
			My print design work.
		</div>
		<div id="dev" class="workType">
			<h2>Front-End Development</h2>
			This is my front-end development experience.
		</div>
	</section>
	
</div>
	
{% endblock %}
