@import "bootstrap.less";
@import "friendly-font.less";
@import "responsive-nav.less";

@phone:		420px;
@tablet: 	600px;
@desktop:	1200px;

/* -------------------------------------------------------------------------------- */
// BASIC RESET

body {
	margin: 0;
	font-family: "proxima-nova-1", "proxima-nova-2";
	font-weight: 4e00;
	font-style: normal;
}

h1 {
	.proximaC();
	font-size: 3em;
}

h2 {
	.proximaSB();
	text-transform: uppercase;
}

h4 {
	color: @chalk;
	margin-top: 1.1em;
	font-size: 1em;
	line-height: 1.3em;
}

h5 {
	.proximaSB();
	text-transform: uppercase;
}

h6 {
	.proximaSB();
	text-transform: uppercase;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: @coal;
	&:hover {
		text-decoration: none;
	}
}

p {
	.chaparral();
	font-size: 1.1em;
	max-width: 40em;
}

img {
	width: 100%;
	height: auto;
}

article {
	h5 {
		margin-top: 1.5em;
	}
	a {
		border-bottom: 1px solid @orange;
		color: inherit;
		&:hover {
			color: inherit;
			opacity: 1;
			background-color: @dust;
		}
	}
}

blockquote {
	text-indent: 0em;
	padding: 0 0 0 1.875em;
	margin: 10px 0 1.75em; 
	border: none;
	font-size: 1em;
	line-height: 1em;
	&:before {
	    content: "“";
		font-size: 3.5em;
		color: @orange;
		display:block; 
		.translate(-30px, 30px);
	}
	p {
		.proximaR();
		line-height: 1.5em;
		font-size: .97em;
	}
	h6 {
		text-align: right;
	}
}

/* -------------------------------------------------------------------------------- */
// FLEXBOX LAYOUT

/* .bodyFlex {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
} */

.mainFlex {
	display: flex;
	/* flex: 1; */
}

.contentFlex {
	flex-grow: 1;
}

.columnFlex {
	flex: 0 0 16em;
	order: 0;
	background-color: @dust;
}

@media (max-width: 700px) {
	header.columnFlex {
		flex: 0 0 11em;
	}
}

@media (max-width: @tablet) {
	.mainFlex {
	  flex-direction: column;
	}
	.columnFlex {
	  flex: 0 0 5em;
	}
	header.columnFlex {
		flex: 0 0 auto;
		min-height: 0;
	}
}

/* -------------------------------------------------------------------------------- */
// HEADER & NAV

main > header {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	nav {
		flex: 1;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				text-align: center;
				background-color: @dust;
				.proximaSB();
				letter-spacing: 3px;
				height: 3.75em;
				&:hover {
					background-color: mix(@dust, @coal, 90%);
					a {
						color: @chalk;
					}
				}
				a {
					color: @chalk;
					line-height: 1.3em;
					padding: 1.25em 0;
					text-transform: uppercase;
					display: block;
				}
			}
		}
	}
}

#title {
	background-color: @coal;
}


/* -------------------------------------------------------------------------------- */
// SPLASH - The Big Bang

#splash {
	background-image: url("../images/pleiades.jpg");
	background-size: cover;
	min-height: 100vh;
	padding: 3.75em; /* 60px */
	h2 {
		color: @chalk;
		text-transform: uppercase;
		font-size: 3.3em;
		letter-spacing: 4px;
		display: block;
		margin-bottom: 3.5rem;
	}
	p {
		color: @chalk;
		max-width: 21em;
		font-size: 1.4em;
	}
}


/* -------------------------------------------------------------------------------- */
// MISC.

#page-title {
	padding: 20px 0;
	margin: 0;
	@media (max-width: @tablet) {
		text-align: center;
	}
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	color: @chalk;
	font-size: 3em;
}

.paging {
	padding: 1.25em;
	color: @chalk;
	background-color: mix(@dust, @coal, 85%);
	width: 50%;
	&.next {
	
	}
	&.prev {

	}
}

.arrowDown:after {
	content:"";
	position: relative;
	right: -10px;
	top: 14px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid @chalk;
}

/* -------------------------------------------------------------------------------- */
// ABOUT

#about {
	.topBar {
		background-color: @coal;
	}
}

.aboutFlex {
	/* display: flex; */
	flex: 1;
	/* flex-direction:column; */
}

#social-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	li {
		padding: .95em;;
		margin: 0;
		display: inline-block;
		transition: all .2s linear;
		background-color: @blue;
		&:hover {
			background-color: @red;
		}
		a {
			color: @chalk;
			font-size: .6em;
		}
		@media (max-width: @tablet) {
			width: 14.285%;
			text-align: center;
			a {
				font-size: .5em;
			}
		}
	}
}

#myPortrait {
	background-image: url("../images/me-parris.png");
	background-size: cover;
	background-position: 50% 100%;
	flex: 0 0 50%;
	max-width: 40em;
	min-width: 22em;
	min-height: 100vh;
	max-height: 100vh;
	position: relative;
	a {
		color: @chalk;
		font-size: .7em;
		opacity: .4;
		position: absolute;
		bottom: 10px;
		right: 20px;
		&:hover {
			opacity: 1;
		}
	}
}

#aboutText {
	max-width: 35em;
	padding: 1.25em 2.5em;
}


/* -------------------------------------------------------------------------------- */
// WRITING

#writing {
	h5 {
		color: @orange;
		margin-top: 1.5em;
	}
	.subTitle {
		margin: 1em 0 .5em;
	}
}

#writing-index {
	flex: 0 0 30%;
	max-width: 23em;
	min-width: 14em;
	background-color: @blue;
	h4 {
		padding: 1.25em 20px;
		background-color: mix(@coal, @blue, 40%);
	}
	.subjectTitle {
		margin: 0 20px 8px;
		padding: 0;
		.proximaSC();
		text-transform: uppercase;
		margin: 40px 20px 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid @lightblue;
		background-color: transparent;
	}
	ul {
		.list-unstyled();
		margin-bottom: 40px;
		li {
			a {
				color: @chalk;
				.proximaL();
				font-size: 1em;
				line-height: 1.35em;
				display: block;
				padding: 5px 20px 5px 20px;
				&:hover {
					background-color: mix(@coal, @blue, 40%);
				}
			}
		}
	}
	.navbar-toggle {
		position: absolute;
		top: 3.75em;
		left: 0;
		display: none;
		cursor: pointer;
		&:hover {
			background-color: mix(@coal, @blue, 20%);
		}
		@media (max-width: @tablet) {
			display: block;
		}
	}
	@media (max-width: @tablet) {
		flex: 0;
		max-height: 60px;
		max-width: 100%;
		#page-title {
			text-align: center;
		}
		&.open-index {
			max-height: none;
		}
	}
}

#writing-main {
	max-width: 40em;
	padding: 0 2.5em;
	margin-bottom: 80px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
	&.single {
		h1 {
			margin: 1em 0 .5em;
		}
	}
	article {
		header {
			padding: 0 2.5em;
		}
		img {
			margin-bottom: 20px;
			max-width: 100%;
		}
		footer {
			margin-top: 20px;
			text-align: right;
			strong {
				font-size: 1.75em;
				.chaparral();
			}
			h5 {
				margin-top: 10px;
			}
		}
	}
	@media (max-width: 950px) {
		padding: 0 1.25em;
	}
}

#writingLinks {
	margin-top: 140px;
	ul {
		li {
			margin-bottom: 10px;
			a {
				color: @coal;
				border-bottom: 1px solid @orange;
				&:hover {
					background-color: @dust;
				}
			}
		}
	}
}


/* -------------------------------------------------------------------------------- */
// WORK

#work {
	color: @blue;
}

.workFlex {
	display: flex;
	flex: 1;
	flex-direction:column;
}

.workIntro {
	padding: 10em 4em 8em;
	background-image: url('/public/images/home-office.jpg');
	background-size: cover;
	background-position: 50% 40%;
	p {
		font-size: 3.5em;
		line-height: 1.2em;
		max-width: 20em;
		color: @white;
		border-bottom: 2px solid @orange;
		text-shadow: 0 0 10px @blue;
	}
}
.workDescription {
	background-color: @blue;
	padding: 5em 1em;
	p {
		font-size: 1.5em;
		color: @orange;
		.proximaT();
		margin: 0 auto;
		max-width: 35em;
	}
}

#design {
	ul {
		list-style-type: none;
		.list-unstyled();
		li {
			margin: 0;
			display: flex;
			align-items: center;
			.visuals {
				width: 40%;
				.workImage {
					width: 100%;
					max-width: 750px;
					height: 0;
					margin: 0 auto;
					padding-bottom: 60%;
					background-size: cover !important;
					background-repeat: no-repeat;
				}
			}
			.workMeta {
				width: 60%;
				padding: 1.25em;
				margin: 0 auto;
				h1 {
					color: @chalk;
				}
			}
			@media (max-width: 1100px) {
				display: block;
				.visuals, .workMeta {
					width: 100%;
					display: block;
				}
			}
		}
	}
}

#theWork {
	padding-bottom: 100px;
	h2 {
		color: @blue;
		text-align: center;
		margin: 0;
		padding: 40px 0;
	}
	#web.workType {
		h2 {
			background-color: @blue;
		}
	}
	#print.workType {
		h2 {
			background-color: @blue;
		}
	}
	#dev.workType {
		h1 {
			margin: 0;
			a {
				color: @red;
				&:hover {
					color: @orange;
				}
			}
		}
		.project {
			padding: 40px;
			display: inline-block;
		}
	}
}

.workTop {
	text-align: center;
	h1 {
		color: @chalk;
		text-transform: uppercase;
		padding: 1.5em 0 .5em;
		font-size: 4em;
	}
	a {
		color: @chalk;
	}
}

.workBody {
	max-width: 50em;
	margin: 20px auto 80px;
	p {
		max-width: 35em;
		margin: 20px auto;
		a:hover {
			color: @coal;
			background-color: @dust;
		}
	}
	img {
		width: 100%;
		margin: 20px 0;
	}
	.btn {
		color: @chalk;
		margin: 20px auto;
		display: inline-block;
		&:hover {
			background: @coal !important;
		}
	}
}


/* -------------------------------------------------------------------------------- */
// PHOTOS

#photos {
	.photosFlex {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.topBar {
		background-color: @stone;
		width: 100%;
		height: 3.75em;;
		h4 {
			margin-left: 1.25em;
		}
	}
	.galleryWrapper {
		padding: .75em;
	}
	.gallery {
		margin-bottom: 1.25em;
		article {
			width: 49.9%;
			height: auto;
			padding: .75em;
			@media (max-width: 1100px) {
				width: 100%;
			}
			@media (min-width: 1600px) {
				width: 33.3%;
			}
		}
	}
	.photoWrapper {
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
		flex: 1;
		@media (max-width: 750px) {
			display: block;
		}
	}
	.single {
		text-align: center;
		max-width: 100%;
		img {
			width: auto;
			max-width: 100%;
		}
		@media (max-width: 750px) {
			max-width: none;
			max-height: none;
		}
	}
}

/* -------------------------------------------------------------------------------- */
// PLAYGROUND

@keyframes playColor {
	0%, 100%   {background:@red;}
	33%  {background:@orange;}
	66%  {background:@blue;}
}

@-webkit-keyframes playColor {
	0%, 100%   {background:@red;}
	33%  {background:@orange;}
	66%  {background:@blue;}
}

@-moz-keyframes playColor {
	0%, 100%   {background:@red;}
	33%  {background:@orange;}
	66%  {background:@blue;}
}

#playgroundTitle {
	background: @red;
	animation: playColor 30s linear infinite;
	-webkit-animation: playColor 30s linear infinite;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	flex: 2;
	h2 {
		margin: 0;
		padding: 40px;
		color: @chalk;
	}
}


/* -------------------------------------------------------------------------------- */
// ARCHIVE

#archive {
	background: @coal;
	color: @chalk;
	.archive {
		width: 100%;
		padding-top: 3.75em;
		a {
			color: @chalk;
		}
		h1 {
			margin: 0;
			font-weight: normal;
		}
		h5 {
			margin: 1.25em 0 0;
			padding: 0 1.25em .75em 2.5em;
			color: mix(@chalk, @coal, 50%);
			border-bottom: 1px solid mix(@coal, @chalk, 90%);
		}
		ul {
			.list-unstyled();
			margin-bottom: 3.75em;
			li {
				padding: 1.25em;
				display: flex;
				border-bottom: 1px solid mix(@coal, @chalk, 90%);
				&:hover {
					background-color: mix(@coal, @chalk, 95%);
				}
				.icon {
					font-size: 2em;
					color: mix(@chalk, @coal, 50%);
					margin: auto 1.25em auto .75em;
					width: 1em;
				}
				.archive-info {
					display: flex;
					flex-direction: column;
					max-width: 75%;
				}
				small {
					margin-left: 5px;
					.proximaSB();
					font-size: .4em;
				}
			}
		}
		.Writing {
			h6 { color: @green; }
		}
		.Work {
			h6 { color: @lightblue; }
		}
		.Photos {
			h6 { color: @orange; }
		}
		.Playground {
			h6 { color: mix(@green, @blue, 50%); }
		}
		@media (max-width: 1000px) {
			h1 {
				font-size: 2em;
			}
			h5 {
				padding: .5em 1em;
				font-size: .9em;
			}
			ul {
				li {
					padding: .5em 1em;
					.icon {
						margin: auto .75em auto 0;
						font-size: 1.5em;
					}
				}
			}
		}
		@media (max-width: @tablet) {
			padding-top: 1em;
			h1 {
				font-size: 2em;
			}
			h5 {
				padding: .5em 1.75em;
				font-size: .75em;
			}
			ul {
				li {
					padding: .5em 1.5em;
					.icon {
						margin: auto .75em auto 0;
						font-size: 1.25em;
					}
				}
			}
		}
	}
}


/* -------------------------------------------------------------------------------- */
// BROOKLYN MUSEUM

@bmcolor: rgb(0,174,239);

#brooklynMuseum {
	text-align: center;
	h1 {
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 60px 0 20px;
	}
	p {
		margin: 20px auto;
		text-align: left;
	}
}
#BMlogo {
	max-width: 240px;
	margin-top: 40px;
}

#brooklynMuseum section { 
	margin-bottom: 60px;
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			opacity: .8;
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			padding: 30px 20px;
			background-color: @bmcolor;
			color: @chalk;
			font-size: 1.3em;
			margin-bottom: 2px;
			&.images {
				cursor: pointer;
				&:hover {
					background-color: darken(@bmcolor, 5%);
				}
			}
		}
	}
	.flexslider {
		max-width: 800px;
		margin: 0 auto;
		height: auto;
		max-height: 0;
		border: 0px;
		overflow: hidden;
		transition: all .3s ease-in;
		&.open {
			height: auto;
			margin: 40px auto 40px;
			border: 10px solid @chalk;
			max-height: 1000px;
			transition: all .3s ease-in;
		}
		ul, ol {
			li {
				padding: 0;
			}
		}
		.flex-control-nav {
			margin-top: 20px;
			li a {
				background: @chalk;
				opacity: .6;
				&.flex-active {
					opacity: 1;
				}
			}
		}
	}
}


/* -------------------------------------------------------------------------------- */
// FOOTER

header footer {
	justify-content: center;
	align-content: flex-end;
	p {
		text-align: center;
		margin: 40px 10px 20px;
		.proximaR();
		font-size: .8em;
		a {
			color: @coal;
			&:hover {
				color: @coal;
				background-color: mix(@dust, @coal, 90%);
			}
		}
	}
	@media (max-width: @tablet) {
		display: none;
	}
}


/* -------------------------------------------------------------------------------- */
// STYLEGUIDE

.colors {
	ul {
		width: 100%;
		li {
			width: 100%;
			height: 120px;
			&:nth-child(1) {
				background-color: @blue;
			}
			&:nth-child(2) {
				background-color: @orange;
			}
			&:nth-child(3) {
				background-color: @red;
			}
			&:nth-child(4) {
				background-color: @lightblue;
			}
			&:nth-child(5) {
				background-color: @green;
			}
		}
	}
}



