@import "bootstrap.less";
@import "friendly-font.less";
@import "responsive-nav.less";

@phone:		420px;
@tablet: 	600px;
@desktop:	1200px;

/* -------------------------------------------------------------------------------- */
// BASIC RESET

body {
	margin: 0;
	font-family: "proxima-nova-1", "proxima-nova-2";
	font-weight: 4e00;
	font-style: normal;
}

h1 {
	.proximaC();
	font-size: 3em;
}

h2 {
	.proximaSB();
	text-transform: uppercase;
}

h4 {
	color: @chalk;
	margin-top: 22px;
}

h5 {
	.proximaSB();
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: @coal;
	&:hover {
		text-decoration: none;
	}
}

p {
	.chaparral();
	font-size: 18px;
}

img {
	width: 100%;
	height: auto;
}

article {
	a {
		border-bottom: 1px solid @green;
		color: inherit;
		&:hover {
			color: inherit;
			opacity: 1;
			background-color: @dust;
		}
	}
}

blockquote {
	text-indent: 0em;
	padding: 0 0 0 30px;
	margin: -5px 0 20px; 
	border: none;
	font-size: 1em;
	line-height: 1em;
	&:before {
	    content: "“";
		font-size: 3.5em;
		color: @green;
		display:block; 
		.translate(-30px, 30px);
	}
	p {
		.proximaR();
		line-height: 1.4em;
		font-size: 1.05em;
	}
	h6 {
		text-align: right;
	}
}

/* -------------------------------------------------------------------------------- */
// FLEXBOX LAYOUT

.bodyFlex {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.mainFlex {
	display: flex;
	flex: 1;
}

.contentFlex {
	flex-grow: 1;
}

.columnFlex {
	flex: 0 0 16em;
	order: 0;
	background-color: @dust;
}

@media (max-width: 700px) {
	header.columnFlex {
		flex: 0 0 13em;
	}
}

@media (max-width: @tablet) {
	.mainFlex {
	  flex-direction: column;
	}
	.columnFlex {
	  flex: 0 0 5em;
	}
	header.columnFlex {
		flex: 0 0 auto;
		min-height: 0;
	}
}

/* -------------------------------------------------------------------------------- */
// HEADER & NAV

header {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	nav {
		flex: 1;
		ul {
			margin: 0;
			padding: 0;
			li {
				text-align: center;
				background-color: @dust;
				.proximaSB();
				letter-spacing: 3px;
				&:hover {
					background-color: mix(@dust, @coal, 90%);
					a {
						color: @chalk;
					}
				}
				a {
					color: @chalk;
					padding: 20px 0;
					text-transform: uppercase;
					display: block;
				}
			}
		}
	}
}

#title {
	background-color: @coal;
}


/* -------------------------------------------------------------------------------- */
// SPLASH - The Big Bang

#splash {
	background-image: url("../images/pleiades.jpg");
	background-size: cover;
	min-height: 100vh;
	padding: 60px;
	h2 {
		color: @chalk;
		text-transform: uppercase;
		font-size: 3.3em;
		letter-spacing: 4px;
		display: block;
		margin-bottom: 40px;
	}
	p {
		color: @chalk;
		max-width: 21em;
		font-size: 1.4em;
	}
}


/* -------------------------------------------------------------------------------- */
// MISC.

.topBar {
	flex-direction: row;
	flex-flow: row wrap;
}

#page-title {
	padding: 20px 0;
	margin: 0;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	color: @chalk;
	font-size: 3em;
}

/* -------------------------------------------------------------------------------- */
// ABOUT

#about {
	.topBar {
		background-color: @coal;
	}
}

.aboutFlex {
	display: flex;
	flex: 1;
	flex-direction:column;
}

#social-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	li {
		padding: 6px;
		margin: 0;
		display: inline-block;
		transition: all .2s linear;
		&:nth-child(1) {
			background-color: @lightblue;
		}
		&:nth-child(2) {
			background-color: @blue;
		}
		&:nth-child(3) {
			background-color: @yellow;
		}
		&:nth-child(4) {
			background-color: @green;
		}
		&:nth-child(5) {
			background-color: @orange;
		}
		&:nth-child(6) {
			background-color: @brown;
		}
		&:nth-child(7) {
			background-color: @red;
		}
		&:hover {
			background-color: @coal;
		}
		a {
			color: @chalk;
		}
	}
}

#myPortrait {
	background-image: url("../images/me-parris.png");
	background-size: cover;
	background-position: 50% 100%;
	flex: 0 0 50%;
	max-width: 40em;
	min-width: 22em;
	min-height: 100vh;
	max-height: 100vh;
	position: relative;
	a {
		color: @chalk;
		font-size: .7em;
		opacity: .4;
		position: absolute;
		bottom: 10px;
		right: 20px;
		&:hover {
			opacity: 1;
		}
	}
}

#aboutText {
	max-width: 35em;
	padding: 20px 40px;
}


/* -------------------------------------------------------------------------------- */
// WRITING

#writing {
	h5 {
		color: @green;
		margin-top: 30px;
	}
	.subTitle {
		margin: 1em 0 .5em;
	}
}

#writing-index {
	flex: 0 0 23%;
	max-width: 22em;
	min-width: 18em;
	background-color: @green;
	h4 {
		margin: 0 20px 8px;
	}
	.subjectTitle {
		.proximaSC();
		text-transform: uppercase;
		margin: 20px 20px 5px;
	}
	ul {
		.list-unstyled();
		margin-bottom: 40px;
		li {
			a {
				color: @chalk;
				.proximaL();
				font-size: 1em;
				line-height: 1.35em;
				display: block;
				padding: 5px 20px 5px 30px;
				&:hover {
					background-color: mix(@coal, @green, 20%);
				}
			}
		}
	}
}

#writing-main {
	max-width: 40em;
	padding: 0 40px;
	margin-bottom: 80px;
	background-size: contain;
	background-repeat: no-repeat;
	&.single {
		h1 {
			margin: 1em 0 .5em;
		}
	}
	article {
		img {
			margin-bottom: 20px;
			max-width: 100%;
		}
		footer {
			margin-top: 20px;
			text-align: right;
			strong {
				font-size: 1.75em;
				.chaparral();
			}
			h5 {
				margin-top: 10px;
			}
		}
	}
}

#writingImages {
	max-width: 15%;
	img {
		cursor: pointer;
		-webkit-transition: .5s ease;
		&:hover {
			-webkit-transform: scale(3) translate(-33.333%,33.333%);
			-webkit-transition: .75s ease;
			border-left: 5px solid @chalk;
			border-bottom: 5px solid @chalk;
		}
	}
}

#writingLinks {
	margin-top: 140px;
	ul {
		li {
			margin-bottom: 10px;
			a {
				color: @coal;
				border-bottom: 1px solid @green;
				&:hover {
					background-color: @dust;
				}
			}
		}
	}
}


/* -------------------------------------------------------------------------------- */
// WORK

.workFlex {
	display: flex;
	flex: 1;
	flex-direction:column;
}

#work {
	.topBar {
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-flow: row wrap;
			a {
				flex: 1;
				&:nth-child(1) li {
					background-color: @blue;
					&:hover {
						background-color: mix(@coal, @blue, 50%);
					}
				}
				&:nth-child(2) li {
					background-color: @yellow;
					&:hover {
						background-color: mix(@coal, @yellow, 50%);
					}
				}
				&:nth-child(3) li {
					background-color: @red;
					&:hover {
						background-color: mix(@coal, @red, 50%);
					}
				}
			}
			li {
				color: @chalk;
				padding: 20px;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}

#theWork {
	h2 {
		color: @chalk;
		text-align: center;
		margin: 0;
		padding: 40px 0;
	}
	.workType {
		display: none;
		&:target {
			display: block;
		}
	}
	#web.workType {
		h2 {
			background-color: @blue;
		}
	}
	#print.workType {
		h2 {
			background-color: @yellow;
		}
	}
	#dev.workType {
		h2 {
			background-color: @red;
		}
		.project {
			float: left;
			width: 25%;
			height: 240px;
			padding: 20px;
		}
	}
}

.workTop {
	text-align: center;
	h1 {
		color: @chalk;
		text-transform: uppercase;
		padding: 60px 0 20px;
		font-size: 4em;
	}
	a {
		color: @chalk;
	}
}

.workBody {
	max-width: 50em;
	margin: 20px auto 80px;
	p {
		max-width: 35em;
		margin: 20px auto;
		a:hover {
			color: @coal;
			background-color: @dust;
		}
	}
	img {
		width: 100%;
		margin: 20px 0;
	}
	.btn {
		color: @chalk;
		margin: 20px auto;
		display: inline-block;
		&:hover {
			background: @coal !important;
		}
	}
}


/* -------------------------------------------------------------------------------- */
// PLAYGROUND

@keyframes playColor {
	0%, 100%   {background:@red;}
	20%  {background:@blue;}
	40%  {background:@green;}
	60% {background:@yellow;}
	80% {background: @orange;}
}

@-webkit-keyframes playColor {
	0%, 100%   {background:@red;}
	20%  {background:@blue;}
	40%  {background:@green;}
	60% {background:@yellow;}
	80% {background: @orange;}
}

@-moz-keyframes playColor {
	0%, 100%   {background:@red;}
	20%  {background:@blue;}
	40%  {background:@green;}
	60% {background:@yellow;}
	80% {background: @orange;}
}

#playgroundTitle {
	background: @red;
	animation: playColor 40s linear infinite;
	-webkit-animation: playColor 40s linear infinite;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	flex: 2;
	h2 {
		margin: 0;
		padding: 40px;
		color: @chalk;
	}
}


/* -------------------------------------------------------------------------------- */
// ARCHIVE

#archive {
	.archive {
		padding: 0 20px;
		h4 {
			color: @coal;
		}
		ul {
			.list-unstyled();
		}
		.articles:before {
			content: "article";
		}
		.webDesign:before {
			content: "web design";
		}
		.lettersFromTheEditor:before {
			content: "letter from the editor";
		}
	}
}


/* -------------------------------------------------------------------------------- */
// BROOKLYN MUSEUM

@bmcolor: rgb(0,174,239);

#brooklynmuseum {
	text-align: center;
	h1 {
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 60px 0 20px;
	}
	.images img {
		width: 100%;
		max-width: 200px;
		border: 1px solid @chalk;
		display: inline;
		text-align: left;
		margin: 20px 0;
	}
}
#BMlogo {
	max-width: 240px;
	margin-top: 40px;
}

#brooklynmuseum section { 
	margin-bottom: 60px;
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			opacity: .8;
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			padding: 30px 20px;
			background-color: @bmcolor;
			color: @chalk;
			font-size: 1.3em;
			margin-bottom: 2px;
			&:hover {
				background-color: darken(@bmcolor, 5%);
			}
		}
	}
	.flexslider {
		max-width: 800px;
		margin: 40px auto 40px;
		border: 10px solid @chalk;
		ul, ol {
			li {
				padding: 0;
			}
		}
		.flex-control-nav {
			margin-top: 20px;
			li a {
				background: @chalk;
				opacity: .6;
				&.flex-active {
					opacity: 1;
				}
			}
		}
	}
}


/* -------------------------------------------------------------------------------- */
// FOOTER

footer {
	justify-content: center;
	align-content: flex-end;
	p {
		text-align: center;
		margin: 40px 10px 20px;
		.proximaR();
		font-size: .8em;
		a {
			color: @coal;
			&:hover {
				color: @coal;
				background-color: mix(@dust, @coal, 90%);
			}
		}
	}
	@media (max-width: @tablet) {
		display: none;
	}
}


