{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<section id="writing-index">
		<h4 id="page-title">Writing</h4>
	
		{% if globalWriting.articleSubjects | length %}
			{% for subject in globalWriting.articleSubjects %}
				<h4>{{ subject.subjectTitle }}</h4>
				<ul>
					{% for link in subject.subjectArticles %}
						<li><a href="{{ link.url }}">{{ link.title }}</a></li>
					{% endfor %}
				</ul>
			
			{% endfor %}
		{% endif %}
	
	</section>
	<section id="writing-main" class="single">
		<article>
			<h5>{{ entry.postDate.format('F d, Y') }}</h5>
			<h1>{{ entry.title }}</h1>
			{{ entry.body }}
		</article>
	</section>
{% endblock %}
