{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Writing" %}

{% block content %}
	<section id="writing-index">
		<h4 id="page-title">Writing</h4>
		
		{% if globalWriting.articleSubjects | length %}
			{% for subject in globalWriting.articleSubjects %}
				<h4>{{ subject.subjectTitle }}</h4>
				<ul>
					{% for link in subject.subjectArticles %}
						<li><a href="{{ link.url }}">{{ link.title }}</a></li>
					{% endfor %}
				</ul>
				
			{% endfor %}
		{% endif %}
		
	</section>
	<section id="writing-main">
		<article class="editor">
			<h5>Letter from the Editor</h5>
			{% for entry in craft.entries.section('writing').type('lettersFromTheEditor').limit(1).find() %}
				<h1 class="subTitle">{{ entry.title }}</h1>
				{{ entry.body }}
			{% endfor %}
		</article>
	</section>
{% endblock %}
