{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<div class="aboutFlex">

	<div class="topBar">
		<ul id="social-links">
			<li><a href="http://twitter.com/#!/bfeeney"><div data-icon="f" class="icon-social-twitter"></div></a></li>
			<li><a href="http://dribbble.com/bfeeney"><div data-icon="r" class="icon-social-dribble"></div></a></li>
			<li><a href="http://instagram.com/brianfeeney/"><div data-icon="l" class="icon-social-instagram"></div></a></li>
			<!-- <li><a href="http://www.facebook.com/bcfeeney"><div data-icon="o" class="icon-social-facebook"></div></a></li> -->
			<li><a href="http://briancfeeney.tumblr.com"><div data-icon="g" class="icon-social-tumblr"></div></a></li>
			<li><a href="http://pinterest.com/brianfeeney/"><div data-icon="i" class="icon-social-pinterest"></div></a></li>
			<!-- <li><a href="http://www.flickr.com/photos/briancf/"><div data-icon="m" class="icon-social-flickr"></div></a></li> -->
			<li><a href="https://github.com/briancfeeney"><div data-icon="n" class="icon-social-github"></div></a></li>
			<li><a href="http://last.fm/user/bfeeney"><div data-icon="k" class="icon-social-lastfm"></div></a></li>
		</ul>
	</div>

	<div class="mainFlex">
		<section id="myPortrait">
			<a href="#">photo by Able Parris</a>
		</section>
		<section id="aboutText">
			<article>
				<h2>About Me</h2>
				{{ entry.body }}
			</article>
		</section>
	</div>

</div>

{% endblock %}
