{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	
	</div>
	<div class="bkmHeader">
		<img src="./public/images/BKM/bkm-logo-white.png" id="BKMlogo">
	</div>
	
	<div id="main" class="bkmStory">
		<section>
			<div class="col-sm-6 col-sm-offset-3">
				<p>On January 2nd, 2014, I started work as Web Designer for the Brooklyn Museum. I haven't yet done any significant work on the website, however, nor am I working on a full site redesign . . . yet. I was brought on to design a project much bigger in scope: the Bloomberg Connects Project, also know as the Visiter Experience Initiative, also known as Ask.</p>
				<p>This is my process documentation, explaining the role I've played in the project and the work I've done for the museum. To do this properly, I'll need to take a step back and present some context.</p>
				<h2>Bloomberg Connects</h2>
				<p>The full scope of the Bloomberg Connects project is still open, but there are a handful of elements we do know will be included: a new iOS app, a web application to work in tandem with the iOS app, new digital signage for the lobby and galleries, and a full website redesign. Other necessary digital elements may present themselves at any time during the three year timeline, making the roadmap a tentatively scheduled one. We have a full development team in-house, and we're having fun with this.</p>
				<p>Everything we're building evolves around our mission statement:</p>
			<div>
		</section>
	
		<section class="mission-statement">
				<blockquote>“To create a dynamic and responsive museum that fosters dialogue and sparks conversation between staff and all Museum visitors.”</blockquote>
		</section>
		
		<section>
			<div class="col-sm-6 col-sm-offset-3">
				<p>What we build and how we build it is an ongoing discussion. The one thing that doesn't change is our commitment to the visitor.</p>
				<h2>The Project Begins</h2>
				<p>Before my hire, Shelley Bernstein, Sara Devine, and their team had been testing various paper prototypes for months, eventually defining the contours of the project. What they discovered was that our visitors pushed back against additional proscriptive information like more signage or algorithmically generated suggestions. This lead to a new idea: creating an environment which allowed the visitors themselves to approach museum staff with questions about the art.</p>
				<p>This is a big leap in the opposite direction from what other museums are doing with their tech. Most museums today are using their apps as another means of over-informing their visitors with secondary media: essays, videos, audio. What we decided to build was an app which gave agency to the visitor over what they hoped to learn. We would empower them with the opportunity to question us directly.</p>
				<p>My first day of employment was at this point of the project.</p>
			<div>
		</section>
		
		<section class="jan2">
			<div class="col-sm-2 col-sm-offset-5">
				<img src="./public/images/BKM/january2.png">
			</div>
		</section>
		
		<section>
			<div class="col-sm-6 col-sm-offset-3">
				<p>My work began on two fronts. First: researching typefaces, color palettes, and possibly relevant UI/UX patterns. And second: building wireframes for the Host Dashboard and iOS app.</p>
				<h2>Branding</h2>
				<p>The Brooklyn Museum branding (and website design) was completed by 2x4 Studios in 2004. Recent visitor research has revealed that our logo and branding continues to be recognizable and likable, so we wouldn't be entertaining any ideas about making updates to it. This did present me with two problems, however -- issues with color and fonts.</p>
			<div>
		</section>
		
		<section>
				<div class="col-sm-5 col-sm-offset-2">
					<p>The color palette chosen by 2x4 for our print materials and visitor tags, while fun and eye-catching on physical objects, do not translate well to digital use, and especially not for user interface design. Individually, each color looks fine, but when placed together in one view, they clash and work against each other. After a few days experimenting with 2x4 colors and studying other user interface palettes, I came up with a palette which works well with our official brand color -- process cyan -- and play nicely when used together. Black, white, and cyan will still remain the basis for most of our public-facing views. The new palette will be used for all the components of the Ask project.</p>
				</div>
				<div class="col-sm-3">
					<figure>
						<img src="./public/images/BKM/VEI-color-tests.png">
						<figcaption>Print material color palette on the left. Ask color palette on the right.</figcaption>
					</figure>
				</div>
		</section>
		
	</div>
	
	
	
	<div id="main" class="bkmStory">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<h2>Introduction</h2>
					<p>I joined the Brooklyn Museum Technology Department in January 2014, with an official title of Web Designer. When I walked in on my first day, I was preparing myself to talk about the design of a new website. Turned out that what I was hired for was a much bigger project.</p>
					<p>The official name of the project is Ask, and it's funded by the Bloomberg Connects grant program. For a full year previous to my hire, Shelley Bernstein and Sara Devine had been testing paper prototypes, eventually defining the contours of the project, allowing the design and development to begin.</p>
					<p>The Bloomberg Connects project began in earnest in early March, 2014. (During January and February, I worked on a number of other smaller projects: design directing the Sackler Center Video site (designed by Karyn Campbell), a complete content audit of our current website, small visual updates to our social sites, thoroughly studying our site analytics, getting comfortable with our branding guidelines, etc.) The entire process had so far been iterative, and would continue to be. All progress would evolve around a central mission statement:</p>
				</div>
			</div>
		</div>

			<blockquote>“To create a dynamic and responsive museum that fosters dialogue and sparks conversation between staff and all Museum visitors.”</blockquote>
		
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<p>This would involve multiple pieces: an iOS app, digital signage, web applications for our engagement team (hosts, curators, artists, etc.), a full website redesign, and a restructuring of the building's lobby. The project was given a three year roadmap, and we began work on the central feature -- the conversational tool which connects visitors with museum staff. This feature is based around the iOS app and the Host Dashboard.</p>
					<h2>Design Begins</h2>
					<p>I began doing my part on two fronts. First: researching typefaces, color palettes, and relevant UI patterns. And second: building wireframes for the Host Dashboard and iOS app.</p>
					<p>The Brooklyn Museum branding (and website design) was completed by 2x4 Studios in 2004. Recent visitor research has revealed that our logo and branding continues to be recognizable and likable, so we wouldn't be entertaining any ideas about changes updates to it. This did present me with two problems, however: issues with color and fonts.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-1">
					<p>The color palette chosen by 2x4 for our print materials and visitor tags do not translate well to digital use, and especially not for user interface design. Each color looks great when used individually, but when placed together in one view, they clash and work against each other. After a few days experimenting with our colors and studying other user interface palettes, I came up with a set of colors which work well with our official brand color -- process cyan -- and play nicely when used together.</p>
				</div>
				<div class="col-sm-5">
					<figure>
						<img src="./public/images/BKM/VEI-color-tests.png">
						<figcaption>Print material color palette on the left. Ask color palette on the right.</figcaption>
					</figure>
				</div>
			</div>
		</div>
	

{% endblock %}
